---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* Define fonts */
$sans-serif: "FiraGO", "Fira Sans", "Source Sans 3", -apple-system,
  BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande",
  Arial, sans-serif !default;
$monospace: "Fira Code", "Fira Mono", "Source Code Pro", Monaco,
  "Cascadia Code", "Cascadia Mono", Consolas, "Lucida Console",
  monospace !default;
$caption-font-family: $sans-serif !default;

/*
Syntax highlighting
Woodland scheme (base16) by Jay Cornwall
https://github.com/jcornwall/base16-woodland-scheme
*/
$base00: #231e18 !default;
$base01: #302b25 !default;
$base02: #48413a !default;
$base03: #9d8b70 !default;
$base04: #b4a490 !default;
$base05: #cabcb1 !default;
$base06: #d7c8bc !default;
$base07: #e4d4c8 !default;
$base08: #d35c5c !default;
$base09: #ca7f32 !default;
$base0a: #e0ac16 !default;
$base0b: #b7ba53 !default;
$base0c: #6eb958 !default;
$base0d: #88a4d3 !default;
$base0e: #bb90e2 !default;
$base0f: #b49368 !default;

/* Define colours */
$primary-color: $base0b !default;
$link-color: $base0c !default;
$background-color: $base01 !default;
// $warning-color: $base0a !default;
// $info-color: $base0d !default;
// $success-color: $base0c !default;
// $danger-color: $base08 !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";  // skin
@import "minimal-mistakes";  // main partials

/* Font faces */
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode/FiraCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode/FiraCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO/FiraGO-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO/FiraGO-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO/FiraGO-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO/FiraGO-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: "Homemade Apple";
  src: url("../fonts/HomemadeApple/HomemadeApple-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Gallery counter */
.mfp-counter {
  font-family: $caption-font-family;
}

/* Table of contents active link hover colour */
.toc .active a:hover {
  color: inherit;
}

/* Colours for notices */
@mixin notice($notice-color) {
  color: inherit;
  background-color: $notice-color;
  a {
    color: inherit;
  };
  code {
    background-color: mix($background-color, $notice-color, 25%);
  };
}

.notice {
  @include notice(#9370db);
}

.notice--primary {
  @include notice($primary-color);
}

.notice--info {
  @include notice($info-color);
}

.notice--warning {
  @include notice($warning-color);
}

.notice--success {
  @include notice($success-color);
}

.notice--danger {
  @include notice($danger-color);
}

/* Italic code comments */
.highlight {
  .c, .c1 {
      font-style: italic;
  }
}

/* Site title font */
.site-title {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

/*
External link indicator
Exclude indicator from buttons, and social icons
https://dangrabbits.dev/adding-external-link-indicator-with-css/
*/
.page {
  a:not(.btn):not([href*="localhost:4000"]):not([href*="//nithiya.gitlab.io"]):not([href^="#"]):not([href^="/"])::after {
    content: " \f35d";
    font-family: "Font Awesome 6 Free";
    display: inline-block;
    text-rendering: auto;
    font-weight: 900;
    font-variant: normal;
    font-size: small;
    font-style: normal;
    white-space: pre;
    -webkit-font-smoothing: antialiased;
  }
}
